/*Created by Blake Weissman*/
:root {
    --animation-interactive: all 0.2s ease;
    --animation-standard: all 0.2s ease;
    --theme-packagebar-background: linear-gradient(#e5e5e5, #cfcfcf);
    --theme-background: #fff;
    --theme-gradient: linear-gradient(-180deg, #1c8dff 0%, #2463ff 100%) fixed;
    --theme-primary-color: #fff;
    --theme-secondary-color: #2d2d2d;
    --theme-interactive-color: #252525;
}

body {
    margin: 0px;
    display: flex;
    background: var(--theme-background);
    transition: var(--animation-standard);
}

* {
    -webkit-user-select: none;
    font-family: montserrat;
    transition: var(--animation-standard);
}

p {
    font-size: 11.5px;
    font-weight: 300;
}

.hide {
    display: none;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--theme-secondary-color);
}

/*packagebar*/
div.packagebar {
    height: 100vh;
    width: 40px;
    background: var(--theme-packagebar-background);
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.25); 
    position: fixed;
    display: flex;
    transition: var(--animation-standard);
}

div.packagebar-wrap {
    height: 100%;
    width: 29px;
    margin: 0 auto;
    transition: var(--animation-standard);
}

div.packagebar-icon-outline {
    padding: 1px;
    border-radius: 10px;
    margin-top: 5px;
    background: var(--theme-gradient);
    background-size: auto 100vh;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    transition: var(--animation-interactive);
    cursor: pointer;
}

div.packagebar-icon {
    background: var(--theme-interactive-color);
    height: 25px;
    width: 25px;
    border-radius: 8px;
    display: flex;
    transition: var(--animation-interactive);
    margin: 1px auto;
}

div.packagebar-icon-outline:hover div.packagebar-icon {
    background: var(--theme-gradient);
    background-size: auto 100vh;
}

div.packagebar-icon-outline:hover div.packagebar-icon-art {
    background: var(--theme-interactive-color);
}

div.packagebar-icon-active {
    background: var(--theme-gradient) !important;
    background-size: auto 100vh !important;
}

div.packagebar-icon-art-active {
    background: var(--theme-interactive-color) !important;
}

div.packagebar-icon-art-wrap {
    width: fit-content;
    margin: auto auto;
    transition: var(--animation-standard);
}

div.packagebar-icon-art {
    width: 15px;
    height: 15px;
    background: var(--theme-gradient);
    background-size: auto 100vh;
    transition: var(--animation-interactive);
}

/*display*/
div.display {
    transition: var(--animation-standard);    
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
}

div.display-wrap {
    width: 100%;
    height: 100%;
    padding: 7px 0px 7px 50px;
    min-width: fit-content;
    transition: var(--animation-standard);
}

div.display-title {
    height: fit-content;
    margin-bottom: 7px;
}

div.display-end {
    height: 20px;
    position: fixed;
    width: 100%;
}

div.display-end-top {
    background: linear-gradient(var(--theme-primary-color), transparent);
}

div.display-end-bottom {
    background: linear-gradient(transparent, var(--theme-primary-color));
    bottom: 47px;
}


/*package*/
h1.package-title {
    /*background: var(--theme-gradient); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;*/
    margin: 0;
    font-family: montserrat;
    font-weight: 300;
    color: var(--theme-secondary-color);
    transition: var(--animation-standard);
}

div.package {
    padding-right: 7px;
}

/*one*/
p.one-chat-bubble {
    width: fit-content;
    margin: 0;
    padding: 5px 5px 5px 5px;
    color: var(--theme-primary-color);
    transition: var(--animation-standard);
}

div.one-chat-bubble {
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 5px;
    transition: var(--animation-standard);
}

div.one-chat-bubble-user {
    background: var(--theme-gradient);
    margin-left: auto;
    transition: var(--animation-standard);
}

div.one-chat-bubble-verton {
    background: var(--theme-secondary-color);
    margin-right: auto;
    transition: var(--animation-standard);
}