/*Created by Blake Weissman*/
:root {
    --animation-interactive: all 0.2s ease;
    --animation-standard: all 0.2s ease;
    --theme-packagebar-background: linear-gradient(#e5e5e5, #cfcfcf);
    --theme-background: #fff;
    --theme-gradient: linear-gradient(-180deg, #1c8dff 0%, #2463ff 100%) fixed;
    --theme-primary-color: #fff;
    --theme-secondary-color: #2d2d2d;
    --theme-interactive-color: #252525;
    --shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.25);
}

body {
    margin: 0px;
    display: flex;
    background: var(--theme-background);
    transition: var(--animation-standard);
    overflow: hidden;
}

* {
    -webkit-user-select: none;
    font-family: montserrat;
    transition: var(--animation-standard);
}

p {
    font-size: 11px;
    font-weight: 300;
    margin: 0;
} 

.hide-activate {
    display: none !important;
}

.hide {
    animation: hide 0.15s !important;
}

.show {
    animation: show 0.3s !important;
}

@keyframes show {
    0%   {opacity: 0; display: none !important;}
    50%  {opacity: 0; display: none !important;}
    100% {opacity: 1;}
}

@keyframes hide {
    0%   {opacity: 1;}
    100% {opacity: 0; display: none !important}
}

@keyframes arc-rotate-out {
    from {
        transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes arc-rotate-in {
    from {
        transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--theme-secondary-color);
}

/*packagebar*/
div.packagebar {
    height: 100vh;
    width: 40px;
    background: var(--theme-packagebar-background);
    box-shadow: var(--shadow); 
    position: fixed;
    display: flex;
    transition: var(--animation-standard);
}

div.packagebar-wrap {
    height: 100%;
    width: 29px;
    margin: 0 auto;
    transition: var(--animation-standard);
}

div.packagebar-icon-outline {
    padding: 1px;
    border-radius: 10px;
    margin-top: 5px;
    background: var(--theme-gradient);
    background-size: auto 100vh;
    box-shadow: var(--shadow);
    transition: var(--animation-interactive);
    cursor: pointer;
}

div.packagebar-icon {
    background: var(--theme-interactive-color);
    height: 25px;
    width: 25px;
    border-radius: 8px;
    display: flex;
    transition: var(--animation-interactive);
    margin: 1px auto;
}

div.packagebar-icon-outline:hover div.packagebar-icon {
    background: var(--theme-gradient);
    background-size: auto 100vh;
}

div.packagebar-icon-outline:hover div.packagebar-icon-art {
    background: var(--theme-interactive-color);
}

div.packagebar-icon-active {
    background: var(--theme-gradient) !important;
    background-size: auto 100vh !important;
}

div.packagebar-icon-art-active {
    background: var(--theme-interactive-color) !important;
}

div.packagebar-icon-art-wrap {
    width: fit-content;
    margin: auto auto;
    transition: var(--animation-standard);
}

div.packagebar-icon-art {
    width: 15px;
    height: 15px;
    background: var(--theme-gradient);
    background-size: auto 100vh;
    transition: var(--animation-interactive);
}

div.packagebar-section-settings {
    position: absolute;
    bottom: 7px;
}

div.packagebar-settings {
    width: 100%;
}

/*display*/
div.display {
    transition: var(--animation-standard);    
    overflow-y: scroll;
    height: calc(100vh - 46px);
    padding-right: 7px;
}

div.display-space {
    width: 100%;
    height: 100%;
    padding: 7px 0px 0px 40px;
    min-width: fit-content;
    transition: var(--animation-standard);
}

div.display-wrap {
    padding-left: 10px;
}

div.display-title {
    height: fit-content;
    margin-bottom: 7px;
}

div.display-end {
    height: 20px;
    position: fixed;
    width: 100%;
}

div.display-verton-activate {
    height: 34px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    background: transparent;    
    display: flex;
}

div.display-verton-deactivate {
    height: 72px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    background: transparent;    
    display: flex;
}

div.display-verton-activate {
    height: 44px;
}

input.display-verton {
    margin-top: auto;
    height: 18px;
    margin-bottom: auto;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--theme-secondary-color);
    padding: 2px 7px;
    font-size: 11.5px;
    font-weight: 300;
    background: var(--theme-primary-color);
    color: var(--theme-secondary-color);
    outline-width: 0;    
    box-shadow: var(--shadow);
}

input.display-search {    
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid var(--theme-secondary-color);
    padding: 2px 7px;
    font-size: 11.5px;
    font-weight: 300;
    background: var(--theme-primary-color);
    color: var(--theme-secondary-color);
    outline-width: 0;
    box-shadow: var(--shadow);
}

div.display-verton-button-outline {
    display: flex;
    width: 60px;
    height: 60px;
    margin-left: auto;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: var(--shadow);
    background: var(--theme-gradient);
}

div.display-verton-button-outline-spacing-left {
    margin-left: 7px;
}

div.display-verton-button-outline-spacing-left-double {
    margin-left: 14px;
}

div.display-verton-button-outline-spacing-right {
    margin-right: 7px;
}

div.display-verton-button-outline-spacing-right-double {
    margin-right: 7px;
}

div.display-verton-button-outline-spacing-top {
    margin-top: 7px;
}

div.display-verton-button-outline-spacing-top-double {
    margin-top: 14px;
}

div.display-verton-button-outline-spacing-bottom {
    margin-bottom: 7px;
}

div.display-verton-button-outline-spacing-bottom-double {
    margin-bottom: 7px;
}

div.display-verton-button {
    background: var(--theme-interactive-color);
    border-radius: 43px;
    margin-top: auto;
    margin-bottom: auto;
    width: 54px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

div.display-verton-button-outline-activate {
    height: 24px !important;
    border-radius: 10px;
    width: auto;
}

div.display-verton-button-activate {
    height: 20px !important;
    width: fit-content;
    border-radius: 8px;
    margin: 2px;
    background: var(--theme-primary-color);
}

p.display-button {
    margin: auto;
    text-align: center;
    font-weight: 500;
    background: var(--theme-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 6px;
    margin-left: 6px;    
    white-space: nowrap;
    text-transform: uppercase;
}

p.display-verton-button {
    margin: auto;
    text-align: center;
    background: var(--theme-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 6px;
    margin-left: 6px;
    white-space: nowrap;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
}

h1.display-title {
    margin: 0;
    font-family: montserrat;
    font-weight: 300;
    color: var(--theme-secondary-color);
    transition: var(--animation-standard);
    font-size: 26px
}

div.display-verton-activate-wrap {
    display: flex;
    height: fit-content;
    margin-top: auto;
    margin-left: 10px;
    width: 100%;    
    margin-right: 10px;
    margin-bottom: 10px;
}

div.display-verton-deactivate-wrap {
    margin-bottom: auto;
    margin-right: 13px;
    display: flex;
    height: fit-content;
    margin-top: auto;
    margin-left: 10px;
    width: 100%;    
    margin-right: 10px;
    margin-bottom: 10px;
}

div.display-verton-button-outline:hover div.display-verton-button {
    background: var(--theme-gradient);
}

div.display-verton-button-outline:hover p.display-verton-button {
    background: var(--theme-interactive-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.display-button-outline {
    height: 24px;
    border-radius: 10px;
    width: fit-content;    
    display: flex;
    cursor: pointer;
    box-shadow: var(--shadow);
    background: var(--theme-gradient);
}

div.display-button {
    height: 20px !important;
    width: fit-content;
    border-radius: 8px;
    margin: 2px;
    background: var(--theme-primary-color);
    display: flex;
}

div.display-button-outline:hover div.display-button {
    background: var(--theme-gradient);
}

div.display-button-outline:hover p.display-button {
    background: var(--theme-primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.display-button-icon {
    background: var(--theme-gradient);
    background-size: auto 100vh;
    transition: var(--animation-interactive);
    width: 14px;
    height: 14px;
    margin: auto 6px;
}

div.display-button-outline:hover div.display-button-icon {
    background: var(--theme-primary-color);
}

div.display-verton-button-outline:hover div.display-button-icon {
    background: var(--theme-primary-color);
}

div.display-verton-button-arc {
    position: absolute;
    background: var(--theme-gradient);
    background-size: auto 100vh;
    transition: var(--animation-interactive);
}

div.display-verton-button-outline:hover div.display-verton-button-arc {
    background: var(--theme-interactive-color);
    background-size: auto 100vh;
    transition: var(--animation-interactive);
}

div.display-verton-button-arc-out {
    width: 44px;
    height: 44px;
    -webkit-mask-box-image: url(ArcOut.svg);
    right: 18px;
    bottom: 18px;
    animation: 5s infinite linear arc-rotate-out;
}

div.display-verton-button-arc-in {
    width: 30px;
    height: 24px;
    -webkit-mask-box-image: url(ArcIn.svg);
    right: 25px;
    bottom: 28px;
    animation: 5s infinite linear arc-rotate-in;
}

div.display-verton-wrap {
    height: 34px;
}

p.display-primary {
    color: var(--theme-primary-color);
}

p.display-secondary {
    color: var(--theme-secondary-color);

}

label.display-switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
    margin: 2px;
}
  
.display-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
span.display-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-primary-color);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 8px;
    height: 20px;
}
  
span.display-switch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 8px;
    background: var(--theme-gradient);
  }
  
input:checked + span.display-switch-slider {
    background-color: var(--theme-gradient);
}
  
/*input:focus + span.display-switch-slider  {
    box-shadow: 0 0 1px #2196F3;
}*/
  
input:checked + span.display-switch-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(22px);
    background: var(--theme-primary-color);
}

div.display-switch-outline {
    height: 24px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    cursor: pointer;
    box-shadow: var(--shadow);
    background: var(--theme-gradient);
    margin-top: 3px;
}

/*one*/
p.one-chat-bubble {
    width: fit-content;
    margin: 0;
    padding: 5px 5px 5px 5px;
    color: var(--theme-primary-color);
    transition: var(--animation-standard);
}

div.one-chat-bubble {
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 5px;
    transition: var(--animation-standard);
}

div.one-chat-bubble-user {
    background: var(--theme-gradient);
    margin-left: auto;
    transition: var(--animation-standard);
}

div.one-chat-bubble-verton {
    background: var(--theme-secondary-color);
    margin-right: auto;
    transition: var(--animation-standard);
}

div.one {
    display: flex;
    height: 100%;
}

div.one-wrap {
    width: 100%;
    margin-top: auto;
    height: fit-content;
}

div.one-space {
    width: 100%;
    height: 44px;
}

/*settings*/
div.settings {
    height: 100%;
}

div.settings-display {
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    padding-top: 28px;
    display: flex;
}

div.settings-search-wrap {
    position: fixed;
    width: calc(100% - 63px);
}