/*Created by Blake Weissman*/
:root {
    --animation-interactive: all 0.2s ease;
    --animation-standard: all 0.2s ease;
    --theme-packagebar-background: linear-gradient(#e5e5e5, #cfcfcf);
    --theme-background: #fff;
}

body {
    margin: 0px;
    display: flex;
    background: var(--theme-background);
    transition: var(--animation-standard);
}

* {
    -webkit-user-select: none;
}

/*packagebar*/
div.packagebar {
    height: 100vh;
    width: 40px;
    background: var(--theme-packagebar-background);
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.25); 
    position: fixed;
    display: flex;
    transition: var(--animation-standard);
}

div.packagebar-wrap {
    height: 96%;
    width: 29px;
    margin: 0 auto;
    transition: var(--animation-standard);
}

div.packagebar-icon-outline {
    padding: 1px;
    border-radius: 10px;
    margin-top: 5px;
    background: linear-gradient(-180deg, #1c8dff 0%, #2463ff 100%) fixed;
    background-size: auto 100vh;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    transition: var(--animation-interactive);
    cursor: pointer;
}

div.packagebar-icon {
    background: #2d2d2d;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    display: flex;
    transition: var(--animation-interactive);
    margin: 1px auto;
}

div.packagebar-icon-outline:hover div.packagebar-icon {
    background: linear-gradient(-180deg, #1c8dff 0%, #2463ff 100%) fixed;
    background-size: auto 100vh;
}

div.packagebar-icon-outline:hover div.packagebar-icon-art {
    background: #2d2d2d;
}

div.packagebar-icon-art-wrap {
    width: fit-content;
    margin: auto auto;
    transition: var(--animation-standard);
}

div.packagebar-icon-art {
    width: 15px;
    height: 15px;
    background: linear-gradient(-180deg, #1c8dff 0%, #2463ff 100%) fixed;
    background-size: auto 100vh;
    transition: var(--animation-interactive);
}

/*display*/
div.display {
    transition: var(--animation-standard);
}

div.display-wrap {
    width: 100%;
    height: 100%;
    padding: 7px 7px 7px 50px;
    min-width: fit-content;
    transition: var(--animation-standard);
}